
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-style: "Times New Roman", Times, serif;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Poppins', sans-serif;
    background-color:#535e70;
   

}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 9%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo{
    color: #ffffff;
  font-size: 45px;
  font-weight: 600;
  text-decoration: none;
}
 .navbar a{
    font-size:20px;
    color:white;
    font-family: 400;
    margin-left:3.5rem;
    transition: .3s;
}
.navbar a:hover,.navbar a.active{
    color:aqua;

}
.header .home-content h1{
    font-size: 6vmin;
    color:#ffffff;
    margin:0;
}
#menu-icon{
    font-size: 3.6;
    color: #ededed;;
    cursor:pointer;
    display: none;
}
section{
    min-height: 100vh;
     padding: 20rem 9% 20rem;
     
   
}  
.home{
    display: flex;
    align-items: center;
    padding: 0 35%;
    background-size: cover;
    background-position: center;
}
.home::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 1;

}

.home-content h1{
    font-size: 3.6rem;
    font-weight: 700px;
    color:white;
    width:40vw;
}   
.home-content .text-animate{
    position: relative;
    color:white;
    font-size: 2rem;
    
}    
.about{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    line-height: 2rem;
   
}
.about::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 1;

}
.about h1{
    color: rgb(173, 216, 178);
    font-size:4rem;

}
.about p{
    color:white;
    font-size:28px
    
    
}
.education{
    display:flex;
    justify-content: center;
    line-height: 2rem;
    align-items: center;
    min-height: auto;
    padding-bottom: 5rem;
    color:#ffffff;
    flex-direction: column;
    margin-bottom: 4rem;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.title{
    font-size: 1.8em;
    color: aquamarine;
}

.education-row .education-column{
    flex:1 1 40rem;
}
.education-column .title{
    font-size: 2rem;
    margin:0 0 1.5rem 2rem;
    margin-bottom: 1rem;
}
.education-box{
    border-left: .2rem solid rgb(0, 136, 255);
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-content .content{
    position:relative;
    padding: 1.5rem;
    border: 5px solid rgb(0, 136, 255);
    border-radius:13px;
    margin-bottom: 2rem;
    
}
.year{
    color: aquamarine;
    font-size: 20px;
    padding-bottom: .5rem;
}
.education-content,h3{
    color: aqua;
}
.education-content ,p{
    color: #ffffff;
    font-size: 1.1rem;
    padding-top: .5rem;
}
.heading ,h1{
    color: rgb(173, 216, 178);
    font-size: 2.5rem;
}
.education-content .year i{
    padding-right: .5rem;
}
.education-box .education-content::before{
    content: '';
    position: absolute;
    top:0;
    left: -1rem;
    margin-left:5.7px;
    width:14px;
    height:14px;
    background-color:  rgb(0, 136, 255);
    border-radius: 50%;
    z-index: 1;
}
.skills{
    min-height: auto;
    padding-bottom: 7rem;
    
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap:5rem;
}    
.skills-row .skills-column{
    flex: 1 1 40rem;

}
.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content{
    position: relative;
    border:.2rem solid  aquamarine;
    border-radius: 8px;
    padding: .5rem 1.5rem;
    width:30vw;
    height: 55vh;
    /* margin-left: 2rem; */
}
.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 1;

}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .prograss h4{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    color:white;
    font-weight: 200;
}
.skills-content .prograss .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid rgb(0, 136, 255);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .prograss .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: #575454;
}
.heading{
    margin-bottom: 4rem;
}
.skills-column:nth-child(1) .skills-content .prograss:nth-child(1) .bar span{
    width :70%;
}
.skills-column:nth-child(1) .skills-content .prograss:nth-child(2) .bar span{
    width :60%;
}
.skills-column:nth-child(1) .skills-content .prograss:nth-child(3) .bar span{
    width :55%;
}
.skills-column:nth-child(1) .skills-content .prograss:nth-child(4) .bar span{
    width :50%;
}
.skills-column:nth-child(2) .skills-content .prograss:nth-child(1) .bar span{
    width :40%;
}
.skills-column:nth-child(2) .skills-content .prograss:nth-child(2) .bar span{
    width :60%;
}
.skills-column:nth-child(2) .skills-content .prograss:nth-child(3) .bar span{
    width :45%;
}
.skills-column:nth-child(2) .skills-content .prograss:nth-child(4) .bar span{
    width :60%;
}

.achivement ,img{
    margin-left: 1.5rem;
}
.contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-feild{
    position:relative;
    width:49%;
    margin: .8rem 0;
    
}
.contact form .input-box .input-feild input,
.contact form .textarea-feild textarea{
    width:100%;
    height:100%;
    padding: 1rem;
    font-size: 1rem;
    color:white;
    background: transparent;
    border-radius: .6rem;
    border:.1rem solid rgb(195, 193, 193)
}
button{
    background-color: rgb(0, 183, 200);
    width:105px;
    height:40px;
    color:black;
    border:none;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}
.contact ,h2{
    color:aqua;
   font-size:2.5rem;
}
.social{
    
    display: flex;
    justify-content:center; 
    margin-top: 3rem;
    
}
.social a{
    color: aqua;
    padding:13px;
    
}
input[type=text], input[type=number] {
   color:aqua;
}
::placeholder {
    color: rgb(26, 24, 24);
    opacity: 1; 
}
